<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kitowcy.letsplaykrakow" >
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".connection.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_KEY" />

        <activity
            android:name=".entities.MainActivity"
            android:label="@string/app_name"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".location.LocationService"
            android:exported="false" />

        <!-- Beacon sevices + API Key -->
        <service
            android:name=".beacon.KontaktBeaconService"
            android:exported="false" />

        <service
            android:name=".tappoint.TapPointService"
            android:exported="false" />
        <service
            android:name="com.kontakt.sdk.android.ble.service.ProximityService"
            android:exported="false" />

        <meta-data
            android:name="kontakt.io.API_KEY"
            android:value="@string/kontakt_io_api_key" />

        <activity
            android:name=".entities.activities.PlaceActivity"
            android:label="@string/title_activity_display_place" >
        </activity>

        <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="true"/>


        <provider
            android:name="com.proxama.trigger.ble.model.dao.BleTriggerProvider"
            android:authorities="com.example.kitowcy.letsplaykrakow.bletriggerprovider"
            android:exported="false">
        </provider>

        <service android:name="com.proxama.tappointauth.sync.SyncService"/>
        <service android:name="com.proxama.trigger.ble.BleTriggerService"/>
        <service android:name="com.proxama.ble.BleScannerManagerImpl"></service>

        <receiver android:name="com.proxama.ble.BleScannerBroadcastReceiver">
            <intent-filter>
                <action android:name="com.proxama.ble.scanner.ACTION_SCHEDULE_SCAN"></action>
            </intent-filter>
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.proxama.trigger.ble.BleScanEventReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.proxama.ble.scanner.ACTION_SCAN_COMPLETE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.proxama.tappoint.internal.trigger.module.BleTriggerEventReceiver" >
            <intent-filter>
                <action android:name="com.proxama.trigger.ble.processor.TRIGGEREVENTS" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.example.kitowcy.letsplaykrakow.tappoint.TapPointEventBroadcastReceiver">
            <intent-filter>
                <action android:name="com.proxama.tappoint.action.ACTION_TRIGGERS_DETECTED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
